#heading {
  color: rgb(13, 15, 15);
  background-color: rgb(212, 209, 209);
  padding: 5px;
  margin-left: 15.6cm;
  margin-right: 15.6cm;
}
#reset {
  height: 1cm;
  width: 3cm;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  position: relative;
  top: -5cm;
  margin-left: 21cm;
}
#increment {
  height: 1cm;
  width: 3cm;
  border-radius: 15px;
  font-size: 30px;
  text-align: center;
  margin-left: 15.6cm;
  margin-right: 15.6cm;
  margin-top: 3cm;
  position: relative;
}
#decrement {
  height: 1cm;
  width: 3cm;
  border-radius: 15px;
  font-size: 30px;
  text-align: center;
  margin-left: 15.6cm;
  margin-right: 15.6cm;
  margin-top: 6cm;
  position: relative;
}
button:hover {
  background-color: yellowgreen;
  cursor: pointer;
}
#count {
  color: brown;
  position: relative;
  margin-top: -6.5cm;
  margin-left: 16.5cm;
  margin-right: 16cm;
  font-size: 100px;
}
